
<div class="row bg-white" style="border-radius:0.25rem;">
    <div class="row main align-items-center">
        <div class="col-2">
            <img class="img-fluid d-block mx-auto" src="@Item.Image" style="height:76px;object-fit:scale-down;">
        </div>
        <div class="col">
            <div class="row text-muted">@Item.Category</div>
            <div class="row">@Item.Name</div>
        </div>
        <div class="col align-baseline">
            <button @onclick="DecreaseOrederCount" class="text-decoration-none text-black fw-bold">-</button>
            <span href="#" class="text-decoration-none text-black border fw-bold p-1" style="font-size: 0.8rem;font-family: sans-serif;">@Item.OrderCount</span>
            <button @onclick="IncreaseOrderCount" class="text-decoration-none text-black fw-bold">+</button>
        </div>
        <div class="col">
            <span class="fw-normal" style="font-size:inherit.8rem;">&pound; @Item.Price</span> 
            <button @onclick="DelecteItemFromCart" class="close float-end text-black-50" style="font-size:inherit.8rem;">&#10005;</button>
        </div>
    </div>
</div>