@page "/Products"


<h3>Products</h3>

@if (Categories is not null)
{
    <div class="input-group-sm mt-5">
    <label class="form-label text-capitalize text-dark fw-bold">Filter by Category</label>
    <select @bind="CategoryId" @bind:event="oninput" class="form-control form-select" @onchange="FilterProducts">
        @foreach (var category in Categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    </div>
}
else
{
    <p class="alert alert-danger" role="alert">Can't Load Products Categories</p>
}

@if (Products is not null)
{
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                @foreach (var product in Products)
                {
                <div class="row p-2 bg-white border rounded mb-2">
                    <div class="col-md-3 mt-1">
                        <img class="img-fluid img-responsive rounded product-image" src="@product.Image">
                        </div>
                    <div class="col-md-6 mt-1">
                        <h5>@product.Name</h5>
                        <div class="d-flex flex-row">
                            <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span>310</span>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span class="dot"></span><span>CategoryName</span></div>
                        <p class="text-justify text-truncate para mb-0">@product.Description<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h4 class="mr-1">$@product.Price</h4>
                            <span class="strike-text">$200.99</span>
                        </div>
                        <h6 class="text-success">Free shipping</h6>
                        <div class="d-flex flex-column mt-4">
                            <a class="btn btn-primary btn-sm" href="/ProductDetails/@product.Id">Details</a>
                            <a class="btn btn-outline-primary btn-sm mt-2" href="/Product/@product.Id">Edit</a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
}
